workflows/agentedeiaconmemoriaytool7h23aGw6TspuWVfz.json
{"updatedAt":"2025-11-02T18:40:21.000Z","createdAt":"2025-11-02T15:43:08.388Z","id":"7h23aGw6TspuWVfz","name":"Agente de IA con Memoria y Tool","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[0,0],"id":"4fcbd2cb-cfe8-4015-85fc-267db6b69863","name":"When chat message received","webhookId":"14a43378-1acf-48ff-8667-c6c1c02c68c0"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/100IBGGZaFdBgOhqTdB6QHg94tdrQPbXR95sUjvCbl0Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/100IBGGZaFdBgOhqTdB6QHg94tdrQPbXR95sUjvCbl0Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Busqueda":"={{ $json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"Busqueda","displayName":"Busqueda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"159d9d16-05e2-4e26-b603-4703eefb1508","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VVxlBxVHhVfPTTVS","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"Eres un asistente que me ayuda a buscar en Google con la herramienta: API GOOGLE todas las url de la busqueda que te pida por chat el usuario.\n\nSiempre contestaras unicamente el listado de nombres y urls que venga de la herramienta API GOOGLE."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[416,0],"id":"cefcb3d0-ff2d-499f-bb3e-f3d8376dd4bf","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[288,208],"id":"53305514-6f19-4858-ab84-e34ac635c649","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Etb7UxB5P1NOKywZ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,208],"id":"bf355e8d-4db0-4b15-b380-d0a78b63e551","name":"Simple Memory"},{"parameters":{"toolDescription":"Esta Tool busca en GOOGLE usando los terminos que indica el usuario","url":"https://real-time-web-search.p.rapidapi.com/search-light","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When chat message received').item.json.chatInput }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-RapidAPI-Host","value":"real-time-web-search.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"2279e653aamsh5550ba65585ad88p17c09fjsn512e8fafa734"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[672,192],"id":"05fc951b-9d4d-4cc7-86b8-17af8013a60e","name":"API GOOGLE"},{"parameters":{"jsonSchemaExample":"{\n  \"resultados\": [\n    {\n      \"nombre\": \"Nombre de la Web 1\",\n      \"url\": \"https://miweb1.com\"\n    },\n    {\n      \"nombre\": \"Nombre de la Web 2\",\n      \"url\": \"https://miweb2.com\"\n    },\n    {\n      \"nombre\": \"Nombre de la Web 3\",\n      \"url\": \"https://miweb3.com\"\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[560,304],"id":"3d419419-aba9-4203-90fa-55c1d4045bdb","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/100IBGGZaFdBgOhqTdB6QHg94tdrQPbXR95sUjvCbl0Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/100IBGGZaFdBgOhqTdB6QHg94tdrQPbXR95sUjvCbl0Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Busqueda":"={{ $('Append row in sheet').item.json.Busqueda }}","Respuesta":"={{ $json.output.resultados }}"},"matchingColumns":["Busqueda"],"schema":[{"id":"Busqueda","displayName":"Busqueda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,0],"id":"94bd549e-55b2-4143-b1c7-a0fd7d02f07c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VVxlBxVHhVfPTTVS","name":"Google Sheets account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"API GOOGLE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07e245ab-c1f4-49da-a4a5-a2282ac267c3","triggerCount":0,"shared":[{"updatedAt":"2025-11-02T15:43:08.392Z","createdAt":"2025-11-02T15:43:08.392Z","role":"workflow:owner","workflowId":"7h23aGw6TspuWVfz","projectId":"kbsnYJQSz9jlxwjy"}],"tags":[]}