workflows/Backup_de_WorkFlows_yOjLrNTNp3CT45UG.json
{
  "updatedAt": "2025-11-11T19:12:10.000Z",
  "createdAt": "2025-11-10T18:45:45.108Z",
  "id": "yOjLrNTNp3CT45UG",
  "name": "Backup de WorkFlows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "24d32ad0-5ccf-4b87-b9f8-03add755a2a3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "id": "2a8b3424-f553-4058-8f0e-680a2d7917cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc7130ce-9b54-420c-917a-9891dd175c9f",
              "name": "repo.owner",
              "value": "GonzaloFS8",
              "type": "string"
            },
            {
              "id": "9724aeeb-4bec-4adc-8cdf-9b767849f417",
              "name": "repo.name",
              "value": "UDIA-N8N-WorkFlows",
              "type": "string"
            },
            {
              "id": "555aac2d-d4cc-47a6-bcba-544e6608aafc",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        96
      ],
      "id": "97afb6c6-6f19-4d32-8ef5-f0de5feb3754",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        592,
        96
      ],
      "id": "068fa813-81c0-410a-a54e-15a9a9ceac60",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "I5KdGLKsixYONBtK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        96
      ],
      "id": "bf5247e1-e46d-4564-9e6f-ff8e88327317",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.name }}"
        },
        "filePath": "={{ \n  $('Edit Fields').item.json.repo.path \n  + $json.name.replace(/[^a-z0-9-_]/gi,'_') \n  + '_' \n  + $json.id \n  + '.json' \n}}\n",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1056,
        0
      ],
      "id": "6e271fa8-28cb-41ae-92b4-9038bf731f3f",
      "name": "Get a file",
      "webhookId": "ba1978a0-4f7e-4ac5-8719-fbc84ea106f7",
      "credentials": {
        "githubApi": {
          "id": "Fk1b94EngJHAveyH",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Fin",
      "typeVersion": 1,
      "position": [
        992,
        -160
      ],
      "id": "016179cd-69ba-415a-a314-86e5ef8cd319"
    },
    {
      "parameters": {
        "jsCode": "// Code node (JavaScript) — preparado para Merge en modo \"Append\"\n// Entrada (por iteración del loop):\n//   - Item A: workflow de \"Get many workflows\" (tiene { id, name, nodes, ... })\n//   - Item B: respuesta de \"Get a file\" (GitHub) con { content (base64), sha, message: 'Not Found', status: 404, ... }\n// Salida: 1 item con { status, filePath, filename, newObject, existingObject, repoOwner, repoName, branch, ... }\n\n// ⚠️ IMPORTANTE: este node no usa $item() ni .item para evitar el error de \"Paired item data is unavailable\" tras un Switch/branch.\n// Lee Owner/Repo/Path/Branch desde el último resultado del nodo \"Edit Fields\" con $node[\"Edit Fields\"].json...\n\nfunction isBase64(s) {\n  if (typeof s !== 'string') return false;\n  const t = s.replace(/\\s+/g, '');\n  return t.length > 0 && t.length % 4 === 0 && /^[A-Za-z0-9+/]+={0,2}$/.test(t);\n}\n\nfunction b64ToUtf8(s) {\n  try { return Buffer.from(s, 'base64').toString('utf8'); } catch { return null; }\n}\n\nfunction toObj(x) {\n  if (x == null) return undefined;\n  if (typeof x === 'object') return x;\n  if (typeof x === 'string') {\n    let txt = x;\n    if (isBase64(txt)) {\n      const dec = b64ToUtf8(txt);\n      if (dec != null) txt = dec;\n    }\n    try { return JSON.parse(txt); } catch { return undefined; }\n  }\n  return undefined;\n}\n\nfunction stableStringify(obj) {\n  const seen = new WeakSet();\n  const norm = (v) => {\n    if (v && typeof v === 'object') {\n      if (seen.has(v)) return '__cycle__';\n      seen.add(v);\n      if (Array.isArray(v)) return v.map(norm);\n      const out = {};\n      for (const k of Object.keys(v).sort()) out[k] = norm(v[k]);\n      return out;\n    }\n    return v;\n  };\n  return JSON.stringify(norm(obj));\n}\n\n// --- 1) Detectar workflow y respuesta de GitHub entre los 2 items del Merge (append) ---\nlet wfItem = items.find(i => i?.json && i.json.id && i.json.name && i.json.nodes);\nlet ghItem = items.find(i => i !== wfItem);\n\n// Si por alguna razón no hay workflow, devolvemos lo que llegó para depurar\nif (!wfItem) {\n  return items;\n}\n\nconst wf = wfItem.json;\n\n// --- 2) Datos de repo desde \"Edit Fields\" (último resultado; sin .item) ---\nconst repoOwner = $node[\"Edit Fields\"]?.json?.repo?.owner || '';\nconst repoName  = $node[\"Edit Fields\"]?.json?.repo?.name  || '';\nconst basePath  = $node[\"Edit Fields\"]?.json?.repo?.path  || 'workflows/';\nconst branch    = $node[\"Edit Fields\"]?.json?.repo?.branch || 'main';\n\n// --- 3) Construir ruta de archivo destino ---\nconst safeName = String(wf.name).replace(/[^a-z0-9-_]/gi, '_');\nconst filename = `${safeName}_${wf.id}.json`;\nconst filePath = `${basePath}${basePath.endsWith('/') ? '' : '/'}${filename}`;\n\n// --- 4) Contenido nuevo (workflow completo) ---\nconst newObj = wf;\nconst newStr = stableStringify(newObj);\n\n// --- 5) Extraer datos de GitHub (puede venir 404) ---\nlet ghError, ghRaw, ghNotFound, existingSha;\nif (ghItem?.json) {\n  const gj = ghItem.json;\n  ghError     = gj.error;\n  ghRaw       = gj.content ?? gj.file?.content ?? gj.fileContent ?? gj.data?.content;\n  ghNotFound  = gj.message === 'Not Found' || gj.status === 404;\n  existingSha = gj.sha ?? gj.file?.sha ?? gj.data?.sha ?? null;\n}\n\n// --- 6) Caso: no existe el archivo en GitHub (repo vacío o 404) ---\nif (ghError || ghNotFound || ghRaw == null || ghRaw === '') {\n  return [{\n    json: {\n      // Ruta/identidad\n      filename,\n      filePath,\n      repoOwner,\n      repoName,\n      branch,\n\n      // Decisión\n      status: 'NOT_FOUND',\n      exists: false,\n      isDifferent: true,\n\n      // Datos\n      newObject: newObj,\n      existingObject: null,\n\n      // Meta opcional\n      existingSha: null\n    }\n  }];\n}\n\n// --- 7) Caso: existe → decodificar y comparar (ignorando orden de claves) ---\nconst existingObj = toObj(ghRaw);\nconst existStr    = existingObj ? stableStringify(existingObj) : '';\n\n// Si no es JSON válido en remoto, lo tratamos como \"no encontrado\" para forzar creación\nif (!existingObj) {\n  return [{\n    json: {\n      filename,\n      filePath,\n      repoOwner,\n      repoName,\n      branch,\n      status: 'NOT_FOUND',\n      exists: false,\n      isDifferent: true,\n      newObject: newObj,\n      existingObject: null,\n      existingSha: null\n    }\n  }];\n}\n\nconst isDifferent = newStr !== existStr;\n\nreturn [{\n  json: {\n    // Ruta/identidad\n    filename,\n    filePath,\n    repoOwner,\n    repoName,\n    branch,\n\n    // Decisión\n    status: isDifferent ? 'EXISTS_DIFFERENT' : 'EXISTS_SAME',\n    exists: true,\n    isDifferent,\n\n    // Datos\n    newObject: newObj,\n    existingObject: existingObj,\n\n    // Meta (por si tu nodo Edit requiere sha, algunas versiones lo exponen)\n    existingSha: existingSha || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        96
      ],
      "id": "d4eacbcb-2dfc-47f1-a686-b628e46fdb9c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        96
      ],
      "id": "6f08de13-8237-4d52-99e0-b6d58a22798a",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.status === 'EXISTS_SAME'\n    ? 0\n    : $json.status === 'EXISTS_DIFFERENT'\n    ? 1\n    : $json.status === 'NOT_FOUND'\n    ? 2\n    : 3 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1712,
        96
      ],
      "id": "975b4f00-2041-45f0-9e83-beeff6e27e41",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "same",
      "typeVersion": 1,
      "position": [
        2128,
        -128
      ],
      "id": "d579ff2b-ad70-4b1e-a2b1-14e8aa826399"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "different",
      "typeVersion": 1,
      "position": [
        2032,
        112
      ],
      "id": "7e2c9a8b-2f09-41be-a85b-a9166c3550ee"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "new",
      "typeVersion": 1,
      "position": [
        2032,
        304
      ],
      "id": "abce0d21-3293-4596-8e42-7ccf993bb690"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repoOwner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repoName }}",
          "mode": "name"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ JSON.stringify($json.newObject, null, 2) }}",
        "commitMessage": "=Create {{$json.filename}}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $json.branch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2240,
        304
      ],
      "id": "d0503c34-8a4d-4deb-a2b6-77b0b06be936",
      "name": "Create a file",
      "webhookId": "7b6a51d5-7962-4b9a-9ef7-84df6a3d4a79",
      "credentials": {
        "githubApi": {
          "id": "Fk1b94EngJHAveyH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=={{ $('Edit Fields').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "=={{ $json.filePath }}",
        "fileContent": "=={{ JSON.stringify($json.newObject, null, 2) }}",
        "commitMessage": "=Update {{$json.filename}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2240,
        112
      ],
      "id": "48e76e0e-f58d-49fc-a77c-fa22025cd256",
      "name": "Edit a file",
      "webhookId": "a792e788-8d6a-4ef3-b349-ea2635eb96b4",
      "credentials": {
        "githubApi": {
          "id": "Fk1b94EngJHAveyH",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fin": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "63ee28e8-ffa4-49b6-bb48-1848523d2d96",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-10T18:45:45.108Z",
      "createdAt": "2025-11-10T18:45:45.108Z",
      "role": "workflow:owner",
      "workflowId": "yOjLrNTNp3CT45UG",
      "projectId": "kbsnYJQSz9jlxwjy"
    }
  ],
  "tags": []
}