workflows/backupworkflows2aaRsRDUhS8Ab99CG.json
{"updatedAt":"2025-11-12T18:39:42.000Z","createdAt":"2025-11-12T17:52:19.094Z","id":"aaRsRDUhS8Ab99CG","name":"Backup workflows 2","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1488,208],"id":"8b93f3b2-f539-4bc0-a210-31c86ff64202","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"8ac6d29c-190e-4aa6-a790-2581b7d785dc","name":"Repo.owner","value":"GonzaloFS8","type":"string"},{"id":"030fb861-4582-474e-b401-6aee8d09e0b1","name":"repo.name","value":"UDIA-N8N-WORKFLOWS","type":"string"},{"id":"90ec30ed-4a7c-42c4-987a-256a49e3352c","name":"commitDate","value":"={{ \n(() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return day + '-' + month + '-' + year + '_' + hours + '-' + minutes;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,208],"id":"ebda425c-9ac5-4e7e-a9c6-28d2b5ff5fbb","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $json.Repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1072,208],"id":"95b683fa-99bd-46bd-8d7b-a69e162fa236","name":"List files","webhookId":"41aaddee-ccf0-4f72-bdb0-59746317ef54","alwaysOutputData":false,"credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-864,208],"id":"bab98293-c81b-4970-bb80-2340219dce07","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-656,208],"id":"54ead556-8e69-42be-aacc-71c2eaa3a8d6","name":"Get many workflows","credentials":{"n8nApi":{"id":"I5KdGLKsixYONBtK","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '').toLowerCase() }}{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-448,208],"id":"8d53a60c-daaa-4991-8a87-9edb6452306f","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,208],"id":"c996841a-3ad2-4713-8bed-b499c8ae2dc0","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fda2659f-9dfd-4489-b550-eaf4dcaca72a","leftValue":"={{ $json.hasExisting === true }}","rightValue":"={{ 'workflows/' + $binary.data.fileName }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,224],"id":"094747b1-8e09-4889-abd1-5ffaa50cd869","name":"If"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repo.name }}","mode":"name"},"filePath":"={{ 'workflows/' + $json.currentName }}","binaryData":true,"commitMessage":"={{ 'update: ' + $json.name + ' (' + $json.id + ') @ ' + new Date().toISOString() }}\n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[464,208],"id":"faa1d3d3-bdf6-4daf-b37c-ed2c7a5e41b3","name":"Edit a file","webhookId":"db051c67-4bc9-4df4-baf7-2a23e76fb547","credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repo.name }}","mode":"name"},"filePath":"={{ 'workflows/' + $json.currentName }}","fileContent":"={{ $json.contentText }}","commitMessage":"={{ 'create: ' + $json.name + ' (' + $json.id + ') @ ' + new Date().toISOString() }}","additionalParameters":{"branch":{"branch":"={{ $node[\"Edit Fields\"].json.repo.branch || 'main' }}"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[464,480],"id":"e5ea5b9a-1164-4a71-8aa6-6b0bd8d459e5","name":"Create a file","webhookId":"83507e01-eac4-4347-a723-bd241596b2ed","credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[208,0],"id":"0b1f911d-7747-443c-9a3f-a8b495a7d23f","name":"No Operation, do nothing"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Code: normalizar binario, construir path y extraer contenido como texto\n\n// Detectar clave binaria entrante (por si no es 'data')\nconst binKeys = Object.keys($binary || {});\nconst inKey = binKeys[0];                    // p.ej. 'data'\nconst inBin = inKey ? $binary[inKey] : null; // objeto binario o null\n\n// Nombre de archivo desde el binario o fallback\nconst currentName = (inBin?.fileName) || ('workflow_' + ($json.id ?? 'unknown') + '.json');\n\n// ID del workflow (para buscar renombrados si quieres)\nconst id = ($json.id != null) ? String($json.id) : '';\n\n// Si tienes una lista previa de paths del repo:\nconst files = $items(\"List files\").map(i => i.json.path || '');\nconst existingFile = id ? files.find(p => (p || '').includes(id)) : null;\n\n// Path destino\nconst path = 'workflows/' + currentName;\n\n// Contenido como TEXTO (desde el binario base64)\nlet contentText = '';\nif (inBin?.data) {\n  try {\n    // en n8n el campo data suele estar ya en base64\n    contentText = Buffer.from(inBin.data, 'base64').toString('utf8');\n  } catch (e) {\n    // si no estuviera en base64, intenta usarlo tal cual\n    contentText = String(inBin.data);\n  }\n}\n\n// Salida: JSON con todo lo necesario\nreturn {\n  json: {\n    ...$json,\n    currentName,\n    existingFile: existingFile || null,\n    hasExisting: !!existingFile,\n    path,\n    contentText        // 👈 lo usaremos en GitHub → File Content\n  },\n  // El binario ya no es necesario si vas a usar File Content.\n  // Si igual querés mantenerlo, descomenta:\n  // binary: { data: inBin }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,224],"id":"1eca30ce-aa74-4931-92a7-b4ef1c0eadb2","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08134847-2632-478c-924a-a2f714629c77","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T17:52:19.104Z","createdAt":"2025-11-12T17:52:19.104Z","role":"workflow:owner","workflowId":"aaRsRDUhS8Ab99CG","projectId":"kbsnYJQSz9jlxwjy"}],"tags":[{"updatedAt":"2025-11-12T17:52:03.476Z","createdAt":"2025-11-12T17:52:03.476Z","id":"pBsv7YH8dqNKYLuG","name":"â"}]}