workflows/backupworkflows2aaRsRDUhS8Ab99CG.json
{"updatedAt":"2025-11-12T18:01:23.000Z","createdAt":"2025-11-12T17:52:19.094Z","id":"aaRsRDUhS8Ab99CG","name":"Backup workflows 2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1488,208],"id":"8b93f3b2-f539-4bc0-a210-31c86ff64202","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"8ac6d29c-190e-4aa6-a790-2581b7d785dc","name":"Repo.owner","value":"GonzaloFS8","type":"string"},{"id":"030fb861-4582-474e-b401-6aee8d09e0b1","name":"repo.name","value":"UDIA-N8N-WORKFLOWS","type":"string"},{"id":"90ec30ed-4a7c-42c4-987a-256a49e3352c","name":"commitDate","value":"={{ \n(() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return day + '-' + month + '-' + year + '_' + hours + '-' + minutes;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,208],"id":"ebda425c-9ac5-4e7e-a9c6-28d2b5ff5fbb","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $json.Repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1072,208],"id":"95b683fa-99bd-46bd-8d7b-a69e162fa236","name":"List files","webhookId":"41aaddee-ccf0-4f72-bdb0-59746317ef54","alwaysOutputData":false,"credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-864,208],"id":"bab98293-c81b-4970-bb80-2340219dce07","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-656,208],"id":"54ead556-8e69-42be-aacc-71c2eaa3a8d6","name":"Get many workflows","credentials":{"n8nApi":{"id":"I5KdGLKsixYONBtK","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '').toLowerCase() }}{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-448,208],"id":"8d53a60c-daaa-4991-8a87-9edb6452306f","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,208],"id":"c996841a-3ad2-4713-8bed-b499c8ae2dc0","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fda2659f-9dfd-4489-b550-eaf4dcaca72a","leftValue":"={{ $items(\"List files\").map(i => i.json.path) }}","rightValue":"={{ 'workflows/' + $binary.data.fileName }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,224],"id":"094747b1-8e09-4889-abd1-5ffaa50cd869","name":"If"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repo.name }}","mode":"name"},"filePath":"={{ 'workflows/' + $binary.data.fileName }}\n","binaryData":true,"commitMessage":"={{ 'update: ' + $json.name + ' (' + $json.id + ') @ ' + new Date().toISOString() }}\n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,208],"id":"faa1d3d3-bdf6-4daf-b37c-ed2c7a5e41b3","name":"Edit a file","webhookId":"db051c67-4bc9-4df4-baf7-2a23e76fb547","credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repo.name }}","mode":"name"},"filePath":"={{ 'workflows/' + $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'create: ' + $json.name + ' (' + $json.id + ') @ ' + new Date().toISOString() }}\n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,480],"id":"e5ea5b9a-1164-4a71-8aa6-6b0bd8d459e5","name":"Create a file","webhookId":"83507e01-eac4-4347-a723-bd241596b2ed","credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"0b1f911d-7747-443c-9a3f-a8b495a7d23f","name":"No Operation, do nothing"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97571e2d-7fd5-474e-a80e-ce9879ed67a1","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T17:52:19.104Z","createdAt":"2025-11-12T17:52:19.104Z","role":"workflow:owner","workflowId":"aaRsRDUhS8Ab99CG","projectId":"kbsnYJQSz9jlxwjy"}],"tags":[{"updatedAt":"2025-11-12T17:52:03.476Z","createdAt":"2025-11-12T17:52:03.476Z","id":"pBsv7YH8dqNKYLuG","name":"✅"}]}