workflows/backupworkflows2IJasB81k984qop4s.json
{"updatedAt":"2025-11-12T18:44:35.000Z","createdAt":"2025-11-12T18:40:24.604Z","id":"IJasB81k984qop4s","name":"Backup workflows 2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1488,208],"id":"b6783c05-7d3e-4fa3-a954-0b6ae7b9cfeb","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"8ac6d29c-190e-4aa6-a790-2581b7d785dc","name":"Repo.owner","value":"GonzaloFS8","type":"string"},{"id":"030fb861-4582-474e-b401-6aee8d09e0b1","name":"repo.name","value":"UDIA-N8N-WORKFLOWS","type":"string"},{"id":"90ec30ed-4a7c-42c4-987a-256a49e3352c","name":"commitDate","value":"={{ \n(() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return day + '-' + month + '-' + year + '_' + hours + '-' + minutes;\n})()\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,208],"id":"0351bc5a-ba7e-4634-b021-4ca9c9180d92","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $json.Repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1072,208],"id":"dca39caa-0f81-45d2-a473-44d3faa32d3c","name":"List files","webhookId":"41aaddee-ccf0-4f72-bdb0-59746317ef54","alwaysOutputData":false,"credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-864,208],"id":"c3b4a18d-f4df-4eb6-9bd8-2046fe51864b","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-656,208],"id":"55632a0b-0131-4581-8012-a654136a3652","name":"Get many workflows","credentials":{"n8nApi":{"id":"I5KdGLKsixYONBtK","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '').toLowerCase() }}{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-448,208],"id":"7bd15a35-7717-4e66-9258-e84a13be800c","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,208],"id":"edebd56a-cf76-4e0c-ba6f-531d2aade757","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"fda2659f-9dfd-4489-b550-eaf4dcaca72a","leftValue":"={{ $items(\"List files\").map(i => i.json.path) }}","rightValue":"={{ 'workflows/' + $binary.data.fileName }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,224],"id":"6f138d5d-d8d7-4ee9-a027-70237c7ada7f","name":"If"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repo.name }}","mode":"name"},"filePath":"={{ 'workflows/' + $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'update: ' + $json.name + ' (' + $json.id + ') @ ' + new Date().toISOString() }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,208],"id":"f5816829-1e5d-4a68-8108-916a737fdf68","name":"Edit a file","webhookId":"db051c67-4bc9-4df4-baf7-2a23e76fb547","credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.Repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repo.name }}","mode":"name"},"filePath":"={{ 'workflows/' + $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ 'create: ' + $json.name + ' (' + $json.id + ') @ ' + new Date().toISOString() }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,480],"id":"8d912c21-cba7-4e13-936e-46f291761222","name":"Create a file","webhookId":"83507e01-eac4-4347-a723-bd241596b2ed","credentials":{"githubApi":{"id":"Fk1b94EngJHAveyH","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"a2af7506-2d7a-4531-94a3-de6e40cf1f1e","name":"No Operation, do nothing"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"19d954f5-e4ad-4d2b-aee6-7f484f0cade1","triggerCount":0,"shared":[{"updatedAt":"2025-11-12T18:40:24.609Z","createdAt":"2025-11-12T18:40:24.609Z","role":"workflow:owner","workflowId":"IJasB81k984qop4s","projectId":"kbsnYJQSz9jlxwjy"}],"tags":[{"updatedAt":"2025-11-12T17:52:03.476Z","createdAt":"2025-11-12T17:52:03.476Z","id":"pBsv7YH8dqNKYLuG","name":"✅"}]}