workflows/backupworkflows2IJasB81k984qop4s.json
{
  "updatedAt": "2025-11-13T17:55:26.000Z",
  "createdAt": "2025-11-12T18:40:24.604Z",
  "id": "IJasB81k984qop4s",
  "name": "Backup workflows BUENO",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        208
      ],
      "id": "b6783c05-7d3e-4fa3-a954-0b6ae7b9cfeb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ac6d29c-190e-4aa6-a790-2581b7d785dc",
              "name": "Repo.owner",
              "value": "GonzaloFS8",
              "type": "string"
            },
            {
              "id": "030fb861-4582-474e-b401-6aee8d09e0b1",
              "name": "repo.name",
              "value": "UDIA-N8N-WORKFLOWS",
              "type": "string"
            },
            {
              "id": "90ec30ed-4a7c-42c4-987a-256a49e3352c",
              "name": "commitDate",
              "value": "={{ \n(() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return day + '-' + month + '-' + year + '_' + hours + '-' + minutes;\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        208
      ],
      "id": "0351bc5a-ba7e-4634-b021-4ca9c9180d92",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.Repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "workflows/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1072,
        208
      ],
      "id": "dca39caa-0f81-45d2-a473-44d3faa32d3c",
      "name": "List files",
      "webhookId": "41aaddee-ccf0-4f72-bdb0-59746317ef54",
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "Fk1b94EngJHAveyH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -864,
        208
      ],
      "id": "c3b4a18d-f4df-4eb6-9bd8-2046fe51864b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ],
      "id": "55632a0b-0131-4581-8012-a654136a3652",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "I5KdGLKsixYONBtK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '').toLowerCase() }}{{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        -16
      ],
      "id": "7bd15a35-7717-4e66-9258-e84a13be800c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        208
      ],
      "id": "edebd56a-cf76-4e0c-ba6f-531d2aade757",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fda2659f-9dfd-4489-b550-eaf4dcaca72a",
              "leftValue": "={{ $json.hasExisting }}",
              "rightValue": "={{ 'workflows/' + $binary.data.fileName }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        224
      ],
      "id": "6f138d5d-d8d7-4ee9-a027-70237c7ada7f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a2af7506-2d7a-4531-94a3-de6e40cf1f1e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * RESOLVE TARGET – sin binarios, solo JSON\n * - Usa el JSON del workflow tal cual lo entrega \"Get many workflows\"\n * - Detecta si ya existe un backup (por ID o por nombre)\n * - Prepara contentB64 para la API de GitHub\n * - Añade repoOwner, repoName, paths y sha\n */\n\n// 1) Archivos listados de \"List files\"\nconst files = $items('List files').map(i => i.json);\n\n// 2) Owner/Repo desde \"Edit Fields\" (con fallback)\nlet efItem;\ntry {\n\tefItem = ($items('Edit Fields').all?.() || [])[0]?.json || $items('Edit Fields', 0, 0)?.json;\n} catch {}\n\nconst FALLBACK_OWNER = 'GonzaloFS8';\nconst FALLBACK_REPO = 'UDIA-N8N-WORKFLOWS';\n\nconst repoOwner =\n\tefItem?.Repo?.owner ??\n\tefItem?.['Repo.owner'] ??\n\t$json?.Repo?.owner ??\n\t$json?.['Repo.owner'] ??\n\tFALLBACK_OWNER;\n\nconst repoName =\n\tefItem?.repo?.name ??\n\tefItem?.['repo.name'] ??\n\t$json?.repo?.name ??\n\t$json?.['repo.name'] ??\n\tFALLBACK_REPO;\n\n\n// 3) Datos del workflow y nombre de archivo\nconst id = String($json.id ?? '');\nconst name = String($json.name ?? 'workflow');\nconst baseName = name.replace(/\\s+/g, '').toLowerCase();\nconst desiredName = `${baseName}${id}.json`;\nconst desiredPath = `workflows/${desiredName}`;\n\n\n// 4) Buscar archivo existente (por ID o por path exacto)\nconst existing = files.find(f =>\n\t(id && f.path?.includes(id)) ||\n\tf.path === desiredPath ||\n\tf.path?.endsWith('/' + desiredName)\n);\n\n\n// 5) Generar contenido Base64 desde el JSON del workflow\n//    Aquí el $json es el workflow completo que viene de \"Get many workflows\"\nconst workflowJson = $json; // no lo toques\nconst pretty = JSON.stringify(workflowJson, null, 2);\nconst contentB64 = Buffer.from(pretty, 'utf8').toString('base64');\n\n\n// 6) SALIDA\nreturn {\n\tjson: {\n\t\t...workflowJson,\n\n\t\trepoOwner,\n\t\trepoName,\n\n\t\t// info para commits\n\t\tcommitId: id,\n\t\tcommitName: name,\n\n\t\t// paths y sha\n\t\thasExisting: !!existing,\n\t\texistingPath: existing ? existing.path : null,\n\t\texistingSha: existing ? existing.sha : null,\n\t\tdesiredPath,\n\n\t\t// contenido final para GitHub\n\t\tcontentB64,\n\t},\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        208
      ],
      "id": "92a8dec7-dcc6-4a2d-a93c-05883e732bcf",
      "name": "Resolve target"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/contents/{{ $json.existingPath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "== 'update: ' + $json.commitName + ' (' + $json.commitId + ') @ ' + (new Date()).toISOString()"
            },
            {
              "name": "content",
              "value": "={{ $json.contentB64 }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.existingSha }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        208
      ],
      "id": "19d93379-0bc6-429f-8ef8-d032c1b5840a",
      "name": "HTTP Request",
      "credentials": {
        "githubApi": {
          "id": "Fk1b94EngJHAveyH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/contents/{{ $json.desiredPath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "== 'create: ' + $json.commitName + ' (' + $json.commitId + ') @ ' + (new Date()).toISOString()"
            },
            {
              "name": "content",
              "value": "={{ $json.contentB64 }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        416
      ],
      "id": "590eb83d-4d6c-4c93-a078-65f8ecabb3ec",
      "name": "HTTP Request1",
      "credentials": {
        "githubApi": {
          "id": "Fk1b94EngJHAveyH",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Resolve target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve target": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eb74ee21-f837-429c-a5e4-87a8b3236002",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-12T18:40:24.609Z",
      "createdAt": "2025-11-12T18:40:24.609Z",
      "role": "workflow:owner",
      "workflowId": "IJasB81k984qop4s",
      "projectId": "kbsnYJQSz9jlxwjy"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-12T17:52:03.476Z",
      "createdAt": "2025-11-12T17:52:03.476Z",
      "id": "pBsv7YH8dqNKYLuG",
      "name": "â"
    }
  ]
}