workflows/funcionesconcodigojspfuAzGslHked8lcS.json
{"updatedAt":"2025-10-30T18:58:18.000Z","createdAt":"2025-10-29T17:41:16.522Z","id":"pfuAzGslHked8lcS","name":"Funciones Con CodigoJS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,-16],"id":"0222e1d4-0c7c-4943-9275-7e4f60f79bf4","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://www.techradar.com/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[32,-16],"id":"b77c9f1d-e50e-4130-b2ac-533a14349f29","name":"RSS Read","notesInFlow":false},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-128],"id":"6fc384c2-9757-4092-8256-9b194ad61968","name":"Code in JavaScript"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fcc18514-9fe8-43ff-99bb-d4a75ba127f2","triggerCount":0,"shared":[{"updatedAt":"2025-10-29T17:41:16.523Z","createdAt":"2025-10-29T17:41:16.523Z","role":"workflow:owner","workflowId":"pfuAzGslHked8lcS","projectId":"kbsnYJQSz9jlxwjy"}],"tags":[]}