workflows/mandarerrorCSBazMidjX4Ooyep.json
{
  "updatedAt": "2025-10-30T19:08:50.000Z",
  "createdAt": "2025-10-30T18:58:41.215Z",
  "id": "CSBazMidjX4Ooyep",
  "name": "Mandar Error",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e7b99e9-f47e-4925-8f75-287bb1b27b03",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "92076b1c-7b9e-4882-abb6-0bb98b8049ea",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9cb31172-ef0c-4ec5-9169-5d2967852e44",
      "name": "When chat message received",
      "webhookId": "2289ff3d-02e5-480f-87a0-ad4fccc7019b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "fd93d0d1-ff0c-43a5-b8a0-d9ab3d62f5e1",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "01d5a4fa-7131-4f25-9e92-4fdfc0cfac6c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-30T18:58:41.219Z",
      "createdAt": "2025-10-30T18:58:41.219Z",
      "role": "workflow:owner",
      "workflowId": "CSBazMidjX4Ooyep",
      "projectId": "kbsnYJQSz9jlxwjy"
    }
  ],
  "tags": []
}