workflows/Prueba_Con_Apis_UrOqhME8hSzLwX23.json
{
  "updatedAt": "2025-10-28T18:23:47.000Z",
  "createdAt": "2025-10-28T18:11:47.963Z",
  "id": "UrOqhME8hSzLwX23",
  "name": "Prueba Con Apis",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        32
      ],
      "id": "42bdfb7f-031a-4604-9f68-dc77beccd338",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36501d5d-d235-44ed-9329-e36e2669fae8",
              "name": "url",
              "value": "https://exercisedb.p.rapidapi.com",
              "type": "string"
            },
            {
              "id": "860238f0-b9a4-476e-b5cf-5acaebd63b54",
              "name": "limit",
              "value": "2",
              "type": "string"
            },
            {
              "id": "0296613e-a9ab-4330-89a3-c24a03564de6",
              "name": "apiKey",
              "value": "2279e653aamsh5550ba65585ad88p17c09fjsn512e8fafa734",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        32
      ],
      "id": "0b0ac875-9d7c-4488-b61d-7ce771bae62c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/exercises ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -224
      ],
      "id": "fdc9ab2a-1485-4a31-a831-d81405038a8a",
      "name": "Exercises"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Exercises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "70352d5b-63cd-415d-bfd0-8b74ebd8233f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-28T18:11:47.967Z",
      "createdAt": "2025-10-28T18:11:47.967Z",
      "role": "workflow:owner",
      "workflowId": "UrOqhME8hSzLwX23",
      "projectId": "kbsnYJQSz9jlxwjy"
    }
  ],
  "tags": []
}