workflows/rag:creacion9b9j8sNL4KjkElXv.json
{"updatedAt":"2025-11-06T18:44:18.000Z","createdAt":"2025-11-04T18:08:35.047Z","id":"9b9j8sNL4KjkElXv","name":"RAG:Creacion","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1FErhfSXxpgLLMn7Qi0Kbfo-Mj1H_5QTK","mode":"list","cachedResultName":"UDIA_PRUEBA","cachedResultUrl":"https://drive.google.com/drive/folders/1FErhfSXxpgLLMn7Qi0Kbfo-Mj1H_5QTK"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"41716ba3-d725-428d-bbaf-d43a84482e97","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"Zic7Q1vlUqKtdLOH","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$json.id}}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"a040dce2-b99e-48f1-87de-ee3aaa1c3b27","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"Zic7Q1vlUqKtdLOH","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"ragudia","mode":"list","cachedResultName":"ragudia"},"options":{"pineconeNamespace":"udia_rag"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[416,0],"id":"d515fe14-a6c8-432a-9661-06f61a9b59f3","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"T9h9yfrEPQ6ZlCjJ","name":"PineconeApi account"}}},{"parameters":{"options":{"dimensions":512}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[368,176],"id":"0c838c3c-2552-4d61-8828-1a741febb15f","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"2Xw6oQQVZ6F8QQma","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{json.name}}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[560,208],"id":"4a7dd705-4292-406a-87a8-eacd324deb41","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[656,416],"id":"34dd14a3-38ed-41df-aa35-0a1f89b3f500","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1bf76ff9-d5c7-4802-8e5c-eb72c674bda3","triggerCount":0,"shared":[{"updatedAt":"2025-11-04T18:08:35.051Z","createdAt":"2025-11-04T18:08:35.051Z","role":"workflow:owner","workflowId":"9b9j8sNL4KjkElXv","projectId":"kbsnYJQSz9jlxwjy"}],"tags":[]}